= service_header('by_mail', 'special_ballot')

= t('services.by_mail.special_ballot.instructions').html_safe
  

.buttons 
  = link_to t('buttons.back'), by_mail_services_path, class: [:button, :back]
  = link_to t('buttons.next'), '#', class:[ :button, :next]