= service_header('voter_id', 'election')


= t('services.voter_id.step_2.intro').html_safe

.qrcode
  .rendered-table
    = raw @qrcode.as_html 
    
.buttons
  = link_to t('buttons.back'), dvic_services_path, class: [:button, :back]
