.header
  %h2
    = image_tag('wizard.png')
    = t('services.registration.same_day.title')


.instructions
  %p= t('registration_wizard.same_day.instructions').html_safe

.buttons 
  = link_to t('registration_wizard.same_day.back'), services_path, class: :button