= service_header('registration', 'same_day')


.instructions
  %p= t("registration_wizard.same_day.instructions.#{@delivery}").html_safe

.buttons 
  = link_to t('registration_wizard.same_day.back'), services_path, class: [:button, :back]