= service_header('by_mail', 'absentee')

= t('services.by_mail.absentee.instructions').html_safe
  

.buttons 
  = link_to t('services.by_mail.absentee.back'), by_mail_services_path, class: [:button, :back]
  = link_to t('services.by_mail.absentee.next'), new_absentee_request_path, class: [:button, :next]