- if @notifications.empty?
  %h3 No Notifications
- else 
  %h3 Notifications
  %ul.notifications
    - @notifications.each do |n|
      %li{class: n.read ? 'read' : 'unread'}
        = link_to notification_path(n) do
          %strong= n.title
          %p= n.default_content