= notifications_header
- if @notifications.empty?
  %h3= t('notification.none')
- else 
  .notifications
    - @notifications.each do |n|
      .notification{class: n.read ? 'read' : 'unread'}
        %h3
          = link_to notification_path(n) do
            %strong= n.title