= notifications_header
- if @notifications.empty?
  %h3= t('notification.none')
- else 
  .notifications
    - @notifications.each do |n|
      .notification{class: n.read ? 'read' : 'unread'}
        = link_to notification_path(n) do
          %strong= n.default_content.html_safe