= f.select :special_ballot_voting_remdiner_notification_options, options_for_select((0..21).to_a, f.object.special_ballot_voting_remdiner_notification_options || 14)

= f.label :special_ballot_voting_remdiner_notification_options, t('notifcation.days_before_deadline')