/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


$header-height: 60px;
$footer-height: 60px;
$demo-id-height: 16px;
$black: black;
$grey: #707070;
$white: white;

$background-black: #231f20;
$yellow: #ffc440;

html {
  background: #aaa;
}

body {
  position: fixed;
  top: 0;
  left: calc(50% - 200px);
  bottom: 0;
  width: 400px;
  margin: 0px auto;
  height: 100%;
  border-radius: 25px;
}

header, main, footer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

header, footer {
  background: $background-black;
  z-index: 1;
}

header {
  height: $header-height;
  bottom: auto;  
  border-radius: 25px 25px 0 0;
}

main {
  padding-top: 1em;
  padding-bottom: 1em;
  background: $white;
  top: $header-height;
  bottom: $footer-height + $demo-id-height;
  overflow-y:scroll;
  
}

#demo_id {
  position: absolute;
  bottom: $footer-height;
  left: 0;
  right: 0;
  background: $grey;
  color: $white;
  padding: 0 1em;
}

footer {
  font-size: .7em;  
  padding: 5px;
  top: auto;
  height: $footer-height;
  color: $grey;
  text-align: center; 
  border-radius: 0 0 25px 25px;
  .navbar {
    margin-top: .5rem;    
  }
  p {
    margin-top: .5rem;
  }
}



.navbar {
  padding: 0em 1em;
  height: 100%;
  color: $grey;
  a {
    color: $yellow;
  }    
  .nav {
    width: 100%;
    .nav-item {
      button {
        color: $yellow;
        font-size: calc(#{$header-height} - 1em);
        line-height: 1em;
      }
      &--title {
        padding: 5px 0;
        font-size: ($header-height - 20px) / 3;
        line-height: ($header-height - 10px) / 3 ;
        
      }
      &--hamburger {
        margin-left: auto;
      }
    }
    &.navbar-nav {
      flex-direction: row;
    }
    &.navbar-footer {
      flex-direction: row;
    }
  }  
  a.navbar-brand {
    padding: 5px 0;
    color: $grey;
    font-size: ($header-height - 20px) / 2;
    line-height: ($header-height - 10px) / 2 ;
    img {
      margin: 5px 0;
      height: calc(#{$header-height} - 20px);
      float: left;
      margin-right: 10px;
    }
  }
  #exCollapsingNavbar2 {
    position: absolute;
    left: calc(-1em + 1px);
    top: $header-height - 1px;
    padding: 1em 2em;
    right: calc(-1em + 1px);
    background: $background-black;
    .nav {
      flex-direction: column;
      text-align: right;
      li {
        font-size: 1.5em;
        padding: .5em 0;
      }
    }
  }      
}

form {
  text-align: center;
  label {
    display: block;    
    &.radio {
      display: inline-block;
    }
  }
  
  
  $input-font-size: 16px;
  $input-top-padding: 8px;
  input[type="text"], select {
    display: block;
    width: 80%;
    
    margin: .5em auto 1em;
    border: 1px solid $grey;
    
    height: $input-font-size + 2*$input-top-padding +2px;
    border-radius: $input-font-size + 2*$input-top-padding;;
    padding: $input-top-padding 14px;
    font-size: $input-font-size;
    line-height: 1em;
    
    -webkit-appearance: none; 
    
  }
  select {
    background-color: transparent;
    background-image: url(http://i62.tinypic.com/15xvbd5.png);
    background-repeat: no-repeat;
    background-position-y: 1px;
    background-position-x: calc(100% - 10px);
    padding-right: 14px + 20px;
  }
  
  input[type="submit"] {
    cursor: pointer;
    margin: 1em auto;
    background: $yellow;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: .5em 2em;
    border-radius: 1.5em;
    border: 0;
  }
  input[type="checkbox"] {
    height: 16px;
  }
}
