/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$header-height: 40px;
$footer-height: 40px;
$black: black;
$white: white;


html {
  background: #aaa;
}

body {
  position: fixed;
  top: 0;
  left: calc(50% - 200px);
  bottom: 0;
  width: 400px;
  margin: 0px auto;
  height: 100%;
}

header, main, footer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $black;
}

header {
  height: $header-height;
  bottom: auto;
}
main {
  padding-top: 1em;
  padding-bottom: 1em;
  background: $white;
  top: $header-height;
  bottom: $footer-height;
  overflow-y:scroll;
  
}
footer {
  top: auto;
  height: $footer-height;
}