/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require formtastic
 *= require_self
 */

$header-height: 50px;
$footer-height: 60px;
$demo-id-height: 16px;
$black: #292929;
$dark-grey: #292929;
$grey: #707070;
$light-grey: #E3E3E3;
$white: white;
$yellow: rgb(254, 211,116);
$orange: rgb(254, 194, 163);
$green: rgb(190,255,143);
$red: rgb(254, 185, 185);
$input-font-size: 18px;
$input-top-padding: 8px;
$input-border-color: $grey;
$input-height: $input-font-size + 2*$input-top-padding +2px;

$background-black: #231f20;
$background-grey: #eaeaea;

$icon-width: 32px;

$text-color: $black;

@import '1st_load_framework';

html {
  background: #aaa;
}

body {
  position: fixed;
  top: 0;
  left: calc(50% - 200px);
  bottom: 0;
  max-width: 400px;
  width: 100%;
  margin: 0px auto;
  height: 100%;
  @media(max-width: 400px) {
    left: 0;
  }
  color: $grey;
}

header, main, footer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

header, footer {
  background: $background-black;
  z-index: 1;
}

header {
  height: $header-height;
  bottom: auto;  
}

main {
  padding-top: 0;
  padding-bottom: 0;
  background: $white;
  top: $header-height;
  //bottom: $footer-height + $demo-id-height;
  bottom:  $demo-id-height;
  overflow-y:scroll;
  &.no-nav {
    top: 0; bottom: 0;
  }
}

.header {
  @extend .row;
  margin-bottom: 15px;
  background: $background-grey;
  padding: 1em 0 ;
  text-align: left;
  font-size: 12px;
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.2em;
    width: 100%;    
    margin-bottom: .1em;
    color: $black;
    img {
      height: 26px;
      margin: 0 10px;
    }
  }
  a {
    display: block;
    text-align: center;
    margin: 0px auto;
    font-size: 12px;
  }
  p {
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.1em;
  }
}


#demo_id {
  position: absolute;
  bottom: 0; // $footer-height;
  left: 0;
  right: 0;
  background: $grey;
  color: $white;
  padding: 0 1em;
}

footer {
  display: none;
  font-size: .7em;  
  padding: 5px;
  top: auto;
  height: $footer-height;
  color: $grey;
  text-align: center; 
  .navbar {
    margin-top: .5rem;    
  }
  p {
    margin-top: .5rem;
  }
}


.reload {
   display: block; 
   margin: 1em auto;
}

.checkbox-list {
  margin: 0 auto;
  width: 80%;
  &--horizontal {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    strong {
      justify: flex-start;
    }
    
    label.checkbox, label.radio {
      width: auto;
      margin: 0;
      input[type=checkbox], input[type=radio] {
        &+ .checkbox-icon, &+ .radio-icon {
          &+ .label {
            width: auto;
          }
          
        }
          
      }
    } 
  }
}

fieldset, .formtastic fieldset {
  clear: both;
}
.grouped {
  padding-left: 30px;
  margin-bottom: 1em;
  font-size: 12px;
  overflow: hidden;
  legend {
    margin-left: -30px;
    padding: 1em 0;
  }    
  label, input[type="text"], input[type="phone"], input[type="email"], select  {
    font-size: 12px;
    line-height: 15px;
  }
  input[type="text"], input[type="phone"], input[type="email"], select  {
    height: 25px;
    padding: 5px 7px;
  }
  label.checkbox, label.radio {
    margin: .25em 0;
    input[type=checkbox], input[type=radio] {
      &+ .checkbox-icon, &+ .radio-icon {
        background-size: 70%;
        width:  $input-height * .6;
        height: $input-height * .6;
        margin-top: -2px;
        &+ .label {
          width: calc(100% - #{2 * $input-height * .6});
        }
        
      }
    }
  } 
}


.date-select {
  select {
    margin-right: 10px;
  }
}

label, legend, .formtastic label, .formtastic legend {
  display: block;
  clear: both;
  
  float: left;
  width: 30%;
  &.date-select-label {
    width: 100%;
  }
  color: $grey;
  font-size: $input-font-size;
  line-height: $input-font-size + $input-top-padding;
  padding-top: 6px;
  &.radio, &.checkbox {
    width: 100%;
    float: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    margin: 1em auto;
    p {
      margin-left: $input-height;
      font-size: 12px;
      margin-bottom: 0;
    }
  }
  &.radio {
    //align-items: flex-start;
    justify-content: left;
    margin: .5em 0;
  }
  &.error {
    border-bottom: 1px solid red;
  }
  input[type="checkbox"], input[type="radio"] {
    display: none;
    &+ .checkbox-icon, &+ .radio-icon {
      width:  $input-height;
      height: $input-height;
      margin-top: -5px;
      &+ .label {
        width: calc(100% - #{$input-height});
      }      
    }
    &+ .checkbox-icon {
      background: url(image-path('checkbox.png')) no-repeat left center;
    }
    &:checked {
      &+ .checkbox-icon {
        background: url(image-path('checkbox_checked.png')) no-repeat left center;
      }
    }
    &+ .radio-icon {
      background: url(image-path('radio.png')) no-repeat left center;
    }
    &:checked {
      &+ .radio-icon {
        background: url(image-path('radio_checked.png')) no-repeat left center;
      }
    }
    
  }
  
}

.formtastic .fragments {
  legend, label, .label, .label label {
    position: relative;
  }
  .fragments-group {
    display: block;
    float: none;
    width: 316px;
    margin: 0 auto;
    padding: 0;
    select {
      width: 100px;
      padding: $input-top-padding 14px;
      padding-right: 14px + 20px;
    }
  }
}


input[type="text"], input[type="phone"], input[type="email"], select, .checkbox-list--input {
  outline: none;
  float: left;
  width: 70%;
  
  margin: 0 0 .5em;
}
input[type="text"], input[type="phone"], input[type="email"], select {
  display: block;
  border: 1px solid $input-border-color;
  
  height: $input-height;
  border-radius: $input-font-size + 2*$input-top-padding;;
  padding: $input-top-padding 14px;
  font-size: $input-font-size;
  line-height: 1em;
  
  -webkit-appearance: none; 
  &.error {
     border-color: red; 
  }
}
select {
  //font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  height: auto;
  border-color: $grey;
  background-color: transparent;
  background-image: image-url('drop-down-arrow.png');
  background-repeat: no-repeat;
  background-position-y: ($input-font-size) / 2 - 2; // (heignt - image-height)/2 - topbordersize
  background-position-x: calc(100% - 5px);
  padding: 3px 5px;
  option[disabled] {
    color: $grey;
    font-weight: normal;
  }
}


input[type="checkbox"] {
  height: 16px;
}

.buttons, .formtastic .buttons {
  clear: both;
  display: flex;
  padding: 0;
  justify-content: space-around;
}

input[type="submit"], a.button, .formtastic input[type="submit"], .formtastic a.button {
  cursor: pointer;
  margin: 1em auto;
  display: block;
  background: $light-grey;
  color: $grey !important;
  font-weight: normal;
  font-size: 24px;
  padding: .25em 20px;
  border-radius: 6em;
  border: 0;
  align-items: flex-start;
  text-align: center;
  text-decoration: none;
  &.next {
    padding-right: 40px;
    background-image: image_url('arrow-right.png');
    background-position: right 10px center;
    background-repeat: no-repeat;
  }
  &.back {
    padding-left: 40px;
    background-image: image_url('arrow-left.png');
    background-position: left 10px center;
    background-repeat: no-repeat;
  }
  &.has-icon {
    padding-left: calc(20px + 1em);
    position: relative;
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      bottom: .25em;
      left: .5em;
      height: 1em;      
    }    
  }
  &.button--small {
    display: inline-block;
    font-size: 18px;
    margin: .5em 0;
  }
  
}

.address {
  text-align: center;
  //font-size: $input-font-size;
  color: $grey;
}

.highlight {
  margin-left: -15px;
  margin-right: -15px;
  padding: .5em 15px;
  //font-size: .9em;
  background: $yellow;
  color: $black;
  strong {
    font-weight: bold;
    color: $dark-grey;
  }
}
.center {
  text-align: center;
}

h3, .h3 {
  margin-top: .25em;
  margin-bottom: .25em;
  font-size: 30px;
  img {
    height: 30px;
    margin-right: 20px;
  }
}

h4, .h4 {
  margin-top: .25em;
  margin-bottom: .25em;
  font-size: 12px;
  font-weight: normal;
  img {
    height: 14px;
    margin-right: 12px;
  }
}

.text-large {
  font-size: 18px;
  margin: .5em 0;
}
.text-small {
  font-size: 12px;
  margin: 0em 0;
  padding: 0em 0;  
}

.indent {
  padding-left: $input-height;
}

p {
  margin: .5em 0;  
}

.instructions {
  text-align: left;
  p {
    &.center {
      text-align: center;
    }
    &.highlight {
      color: $black;
      strong {
        font-weight: bold;
      }
    }
  }
}

.success, .pending, .warning, .alert {
  position: relative;
  margin: 0 -15px;
  padding: 1em $input-height;
  padding-left: $input-height + $icon-width;
  .icon {
    position: absolute;
    left: 15px;
    top: 22px;
    max-width: $input-height;
  }
  h3 {
    margin-top:0;
    font-size: 18px;
    color: $black;    
  }
  p:first-child {
    margin-top: 0;
    font-size: 18px;
  }
  p {
    color: $black;
    font-size: 12px;    
  }
}
.success {
  background-color: $green;
}
.pending {
  background-color: $orange;  
}
.warning {
  background-color: $red;
}

#search-bar {
  z-index: 99999999;
  position: absolute;
  top: 0;
  left: 0;
  right: 57px;
  background: $black;
  display: none;
  padding: 7px;
  text-align: center;
  height: $header-height;
  input {
    width: calc(100% - 14px);
    margin: 0px auto;
  }
}

.show-search {
  #search-bar {
    display: block;
  }
}


@import 'splash';
@import 'nav';
@import 'notifications';
@import 'services';
@import 'users';
@import 'voter_record_searches';
@import 'absentee_requests';
@import 'information';