
.navbar {
  padding: 0;
  height: 100%;
  color: $white;
  a {
    color: $yellow;
  }    
  .nav {
    width: 100%;
    .nav-item {
      button {
        color: $yellow;
        font-size: calc(#{$header-height} - 1em);
        line-height: 1em;
      }
      &--alert, &--search {
        padding: ($header-height - 26px) / 2  10px;
        width: 29 +  20px ;
        position: relative;
        .count {
          position: absolute;
          top: 12px;
          right: 6px;
          color: $black;
          background: $yellow;
          border-radius: 10px;
          border: 1px solid $black;
          height: 17px;
          width: 17px;
          padding: 2px 0;
          text-align: center;
          font-size: 9px;
          line-height: 9px;
          font-weight: bold;
        }
      }
      &--hamburger {
        width: 29 +  20px ;
        img {
          width: 32px;   
          vertical-align: top;       
        }
        padding-top: 5px;
        padding-bottom: 5px;
        button {
          outline: none;
          height: 40px;
          padding: 5px;
          background-color: $grey;
          &.collapsed {
            background-color: transparent;
          }
          
        }
      }
    }
    &.navbar-nav {
      flex-direction: row;
      justify-content: space-between;
    }
    &.navbar-footer {
      flex-direction: row;
    }
  }  
  a.navbar-brand {
    padding: 5px 0;
    color: $white;
    font-size: ($header-height - 14px) / 2;
    line-height: ($header-height - 14px) / 2 ;
    img {
      margin: 5px 0;
      height: calc(#{$header-height} - 20px);
      float: left;
      margin-right: 10px;
    }
  }
  #exCollapsingNavbar2 {
    position: absolute;
    left: -15px;
    top: $header-height;
    padding: 0 1em;
    width: auto;
    width: 65%;
    background: $background-grey;
    .nav {
      flex-direction: column;
      text-align: left;
      li {
        font-size: 18px;
        line-height: 22px;
        padding: 12px 0;
        position: relative;
        a {
          color: black;
          display: flex;
          align-items: center;
          .img {
            width: 28px;
            margin-right: 20px;
            img {
              height: 28px;
              margin: 0;
            }
          }
          .text {
            width: calc(100% - 30px);
            float: left;
          }
        }
        .help {
          display: none;
          position: absolute;
          left: 99%;
          top: 0;
          width: 97% ;
          //background: white;
          padding: 15px 0;
          font-size: 12px;
          height: 50px;
          color: $grey;
          padding-left: 0px;
          .line {
            content:"";
            display: inline-block;
            width: 50px;
            height: 3px;
            margin-right:3px;
            background: $yellow;
          }
          .text {
            vertical-align: middle;
            width: calc(100% - 57px);
            display: inline-block;
          }
        }
      }
    }
    &.show-help {
      .nav li .help {
        display: block;
      }
    }
  }      
}