// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.toast {
  background: white;
  width: 360px;
  box-shadow: #ddd 1px 2px 5px;
  position: fixed;
  top: 20px;
  right: calc(50% - 180px);
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-right: 35px;
  z-index: 100;
  .toast-header {
    font-weight: bold;
    &:before {
      content: "X";
      font-weight: normal;
      position: absolute;
      top: 5px;
      right: 10px;
    }
  }
  
}