// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.service a, .service a:hover {
  display: block;
  margin: 1em;
  background-color: $background-grey;
  background-repeat: no-repeat;
  background-position: .75em center;
  background-size: $icon-width auto;
  border-radius: 5em;
  padding: .5em 20px .5em $icon-width + 20px;
  cursor: pointer;
  color: $text-color;
  text-decoration: none !important;
  .title {
    font-weight: bold;
    font-size: 120%;
  }
  .description {
    font-size: 80%;
  }
  &.wizard {
    background-image: image_url('wizard.png');
  }
  &.by_mail {
    background-image: image_url('by_mail.png');
  }
  &.ballot_tracker {
    background-image: image_url('ballot_tracker.png');
  }
  &.ballot_online {
    background-image: image_url('globe.png');
  }
  &.sample_ballot {
    background-image: image_url('doc.png');
  }
  &.voter_id {
    background-image: image_url('dVIC.png');    
  }
  
}