// Place all the styles related to the splash controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.splash {
  padding: 20px 40px 0;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  text-align: center;
  a {
    color: $black;
    text-decoration: none !important;
    
  }
  h1 {
    font-size: 66px;
    color: $grey;
    font-weight: bold;
  }
  .by-line {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px auto;
    color: $grey;
    text-align: left;
    font-weight: bold;
    line-height: 20px;
    span {
      margin-left: 15px;
      font-size: 20px;
      display: inline-block;
      color: $black;      
    }
  }
  .logo {
    height: 200px;
    width: 200px;
    background-color: $black;
    border-radius: 300px;
    background-image: image-url('X.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120px 140px;
    margin: 3em auto;
  }
  .footer {
    text-align: center;
    font-size: 13px;
    a {
      display: block;
      text-align: center;
      color: $grey;
      text-decoration: none !important;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
      display: block;
      font-weight: bold;
      color: $grey;
      &:after {
        content: "";
        display: block;
        background-color: $yellow;
        height: .5em;
        width: .5em;
        margin: .5em auto;
        border-radius: 1em;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}