// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.advanced-settings {
  h3 {
    font-size: 24px;
    margin-top: 1em;
  }
}

.basic-settings {
  .toggle, .preferences {
    visibility: hidden;
  }
  .preferences_group {
    .group {
      label, legend, .formtastic label, .formtastic legend {
        input[type="checkbox"], input[type="radio"] {
          &+ .checkbox-icon, &+ .radio-icon {
            &+ .label {
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}

.arrow-icon--collapsed, .arrow-icon--expanded {
  text-align: right;
  top: 0px;
  left: 0x;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;  
  overflow: hidden;
  transition: transform .2s;
  //transition-property: rotate;
  transform-origin: 58% 78%;
  transform: rotate(90deg);
  &:after {
    content: "";
    display: block;
    background: $grey;
    width: 100%;
    height: 200%;
    margin-top: 10px;
    transform: translateX(50%) rotate(45deg);
    transform-origin: top left;
  }
}
.arrow-icon--expanded {
  transform: rotate(0deg);
}

.preferences_group {
  .group  {
    position: relative;
    padding-bottom: 3px;
    .toggle {
      text-align: right;
      top: 4px;
      left: 30px;
      position: absolute;
      width: 20px;
      height: 20px;  
      overflow: hidden;
      transition: transform .2s;
      //transition-property: rotate;
      transform-origin: 58% 78%;
      transform: rotate(90deg);
      &:after {
        content: "";
        display: block;
        background: $grey;
        width: 100%;
        height: 200%;
        margin-top: 10px;
        transform: translateX(50%) rotate(45deg);
        transform-origin: top left;
      }
    }
    label, legend, .formtastic label, .formtastic legend {
      &.radio, &.checkbox {
        margin-bottom: 0;
        margin-top: .25em;
      }
      input[type="checkbox"], input[type="radio"] {
        &+ .checkbox-icon, &+ .radio-icon {
          &+ .label {
            margin-left: 20px;
            width: calc(100% - 58px);
          }
        }
      }
    }
  }
  .preferences {
    margin-left: $input-height + 20px;
    display: none;
    p {
      font-size: 14px;
      margin-bottom: 0;
      margin-top: 0;
    }
    label, legend, .formtastic label, .formtastic legend {
      &.radio, &.checkbox {
        margin-bottom: 0;
        margin-top: 0;
      }
      input[type="checkbox"], input[type="radio"] {
        &+ .checkbox-icon, &+ .radio-icon {
          background-size: 70%;
          width:  16px;
          height: 16px;
          margin-top: 0px;
          &+ .label {
            width: calc(100% - #{2 * 12px});
            font-size: 16px;
            line-height: 18px;
          }
        }
      }
    }
    .preference_options {
      padding-left: 20px;
      display: flex;
      justify-content: flex-start;
      select {
        margin-top: 5px;
        margin-bottom: 0;
        width: 40px;
        height: 26px;
      }
      select, label {
        display: inline-block;
        font-size: 10px;
      }
      label {
        width: auto;
        margin-left: 5px;
      }
      width: 100%;
      overflow: hidden;
    }
  }
  &.expanded {
    .group {
      .toggle {
        transform: rotate(0deg);        
      }
    }
    .preferences {
      display: block;
    }
  }
  
}

$step-button-size: 15px;
.walkthrough {
  overflow-y: scroll;
  p {
    margin: 1.5em 0;
  }
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: $step-button-size * 3;
  .step {
    display: none;
    padding: 10px 30px;
    .intro {
      img {
        margin: 15px auto;
        display: block;
      }
    }
  }
  .step1 {
    display: block;
    p.tap-hamburger {
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        border-left: 2px solid $yellow;
        border-bottom: 2px solid $yellow;
        bottom: 1.4em;
        left: -15px;
        height: 198px;
        width: 15px;
        z-index: 10000;
      }
    }
    p.tap-search {
      position: relative;
      
      &:after {
        content: '';
        display: block;
        position: absolute;
        border-right: 2px solid $yellow;
        border-bottom: 2px solid $yellow;
        bottom: 2.2em;
        right: 0px;
        height: 1364px;
        width: 15px;
        z-index: 10000;
      }
    }

  }
  .step3 {
    h3 {
      text-align: center;
    }
    .intro {
      img {
        margin: 15px auto;
        display: block;
      }
    }
  }
}

$step-button-size: 15px;
.walkthrough-steps {
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  height: $step-button-size * 3;
  padding-top: $step-button-size;
  display: flex;
  justify-content: center;
  .step-button {
    cursor: pointer;
    margin: 0 $step-button-size/ 2;
    width: $step-button-size;
    height: $step-button-size;
    border-radius: $step-button-size;    
    background-color: $light-grey;
    &.selected {
      background-color: $grey;
    }
  }
}


.profile-name, .profile-address, .profile-dob {
  margin-bottom: 1em;
  p {
    margin: 0;
  }
  .edit {
    display: none;
  }
}