// Place all the styles related to the VoterRecordSearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.voter-record-search {
  .dob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    select#user_dob_day {
      width: 80px;
    }
    select#user_dob_month {
      width: 80px;
    }
    select#user_dob_year {
      width: 100px;
    }
  }
}