// Place all the styles related to the VoterRecordSearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$camera-icon-width: 24px;
.voter-record-search {
  .record-locator {
    display: flex;
    justify-content: space-around;
    margin: 2em  0;
  }
  #user_record_locator {
    width: calc(70%);
    margin: 0;
  }
  .camera-button {
    width: $input-height;
    height: $input-height;    
    border-radius: $input-height;  
    border: 1px solid $background-grey;
    background-color: $background-grey;
    padding: ($input-height - $camera-icon-width)/ 2 ;
    
    img {
      width: $camera-icon-width;
      height: $camera-icon-width;
      display: block;
    }
  }

}

.dob {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 6px;
  label {
    font-size: .8em;
  }
  select#user_dob_day {
    width: 55px;
  }
  select#user_dob_month {
    width: 75px;
  }
  select#user_dob_year {
    width: 80px;
  }
}