<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"><!-- Tell IE11 to ignore any compatibility view settings -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>
      Search - Elections Ontario
    </title>
    <meta name="viewport" content="width=1024">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="/eoassets/styles.d3aa9b53352781d56fb1.bundle.css" rel="stylesheet">
    <style>
    .language-fr[_ngcontent-c0]   a[_ngcontent-c0]::first-letter { text-transform: uppercase }
         .language-fr[_ngcontent-c0]   span[_ngcontent-c0]::first-letter { text-transform: uppercase }
         .frame {
           background: url('/demo.jpeg');
         }
         .wrapper {
           background: rgba(156,156,156,.5);
         }
    </style>
  </head>
  <body class="language-en" style="">
    <div class="frame" style="width: 400px; margin: 0 auto; overflow: scroll; border: 1px solid #000; border-radius: 25px; position: fixed; top: 0; left: calc(50% - 200px); bottom: 0;">
      <div class="wrapper" style="width: 1024px;">
        <header>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 logo">
              <a target="_blank" href="#"><img src="/eoassets/logo.png" alt="Image - Logo Elections Ontario"></a>
            </div>
            <div class="lang-butt">
              <a appaodalink="" href="#" lang="fr" aria-label="Ouvrir cette page en français">Français</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 navigation">
              <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                  <button class="collapsed navbar-toggle" data-target="#navbarCollapse" data-toggle="collapse" type="button" aria-label="Navigation Menu"></button>
                  <div class="navbar-collapse-tick"></div>
                </div>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="nav navbar-nav">
                    <!---->
                    <li>
                      <a target="_blank" href="#">FAQ</a>
                    </li><!---->
                    <li>
                      <a target="_blank" href="#">Contact Us</a>
                    </li>
                    <li class="hamburger-menu">
                      <a target="_blank" href="#" title="Privacy Statement">Privacy Statement</a>
                    </li>
                    <li class="hamburger-menu">
                      <a target="_blank" href="#" title="Elections Ontario">Elections Ontario</a>
                    </li>
                    <li class="hamburger-menu">
                      <a target="_blank" href="#" title="Terms of Use">Terms of Use</a>
                    </li>
                    <li class="lang">
                      <a appaodalink="" href="#" lang="fr" aria-label="Ouvrir cette page en français">Français</a>
                    </li>
                  </ul>
                  <div class="background-block"></div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <section class="inner-container">
          <div class="header-banner">
            <div class="header-image">
              <div class="header-image-bg">
                <h1>
                  Add me to the Voters List
                </h1>
              </div>
            </div>
          </div>
          <%= yield %>
        </section>
        <footer>
          <div class="copyrights text-center">
            © 2019 Elections Ontario. All Rights Reserved.
          </div>
          <div class="footer-navigation text-center">
            <nav class="navbar">
              <ul class="nav navbar-nav navbar-center">
                <li>
                  <a target="_blank" href="#" title="Privacy Statement">Privacy Statement</a>
                </li>
                <li>
                  <a target="_blank" href="#" title="Terms of Use">Terms of Use</a>
                </li>
                <li>
                  <a target="_blank" href="#" title="Elections Ontario">Elections Ontario</a>
                </li>
              </ul>
            </nav>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
